*.swp
*.swo
build
workspace
node_modules
typecheck.txt
.DS_Store
bin
build
*.dat
*.bin
*.bak
*.bak2
*.bak3
*.bak.*
*.o
openai-patch.sh
patch-debug.sh
logs
patch.sh
patch.py


cchat_client
cchat_server

transcript.txt
.org
